#slide2{
	background-image:url('../images/hands_red.jpg');
	background-color:#b22e26;
	color:#ffffff;
}
#slide3{
	background-image:url('../images/stick.jpg');
	background-color:#0072ae;
	color:#ffffff;
}
#slide5{
	background-color:#0072ae;
		background-image:url('../images/pda_blue.jpg');

	color:#ffffff;
}
#slide3 h1 {color:white;}
#test{
	background-color:#bde2df;
	color:#000;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}
#slide4{
	background-color:#b22e26;
	color:#ffffff;}

.left{float:left; padding-right:3em;}
strong{color:#b22e26;}
